<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Wysylanie wyplat pracownikom</title>
</head>
<body>
	<div align = "center">
		<h1>Zarządzanie wyplatami</h1>
		<a style = "color : red" id="komunikat"></a> <a style = "color : green" id="powodzenie"></a><br>

		Szukaj po nazwie <input type="text" id="szukanie"> <button onclick="find()" >Search</button> <br>
	
		<a href="\dodaj_wyplate"> Dodaj wyplatami</a>
		<br/>
		<!--Table -->
			<table id="table" border = "1" cellpadding = "10">
			<!-–border –obramowanie, cellpadding –rozmiar komórki -->
			<!--Table header -->
			<thead>
				<tr>
				<!--Table row -->
					<th>ID Pilki</th>
					<!–-Table column -->
					<th>Nazwa</th>
					<th>Masa</th>
					<th>Srednica</th>
					<th>Materiał</th>
				</tr>
			</thead>
			<!--Table body -->
				<tbody>
					<tr th:id = "@{pole} + ${pilka.index}" th:each = "pilka : ${lista}">
						<td th:text = "${pilka.idPilki}">ID</td>
						<td th:text = "${pilka.nazwa}">Imie</td>
						<td th:text = "${pilka.masa}">Nazwisko</td>
						<td th:text = "${pilka.srednica}">Numer telefonu</td>
						<td th:text = "${pilka.material}">Nazwisko</td>
						<td><a th:href= "@{/edytuj_pilke?wyplata=} + ${pilka.idPilki}">Edytuj</a></td>
						<td><a th:href= "@{/usun_pilke?wyplata=} + ${pilka.idPilki}">Usuń</a></td>
					</tr>
				</tbody>
			</table> 
			<br/>
			
			<button onclick = "sub()"> << </button> <a id="pozycja"></a> <button onclick = "add()"> >> </button> 
			<br />
			Uzyskano : <a id = "ilosc" th:text = "${lista.size}">ID</a> wyników 
			
	</div>
	
		<script>
	
		
		var numbers = parseInt(document.getElementById("ilosc").innerHTML);
		var currentPos = 0;
		var state = "";
		
		refresh(true);
		
		start();
		errors();
		
		function start(){
			var adres = window.location.href;
			var adresZn = adres.split('');
			
			var nciag="";
			var wartosc = "";
			
			var startRead = false;
			var startReadWartosc = false;
			
			var error = false;
			var error1 = false;
			var success = false;
			
			for(var n=0;n<adres.length;n++){
				if(startReadWartosc){
					if(adresZn[n] == "_"){
						wartosc = wartosc + " ";
					}else{
						wartosc = wartosc + adresZn[n];
					}
					
					
				}else if(startRead){
					nciag = nciag + adresZn[n];
				}
				
				if(adresZn[n] == "?"){
					startRead = true;
				}
				
				if(nciag =="search="){
					startReadWartosc = true;
				}
			
			}
			
			document.getElementById("szukanie").value = wartosc;
		}
		
		function errors(){
			
		
			var komunikat = "";
			var start = false;

			var adres = window.location.href;
			
			for(var n=0; n< adres.length; n++){
				var znak = adres[n];
				
				if(start){
					komunikat = komunikat + znak;	
				}
				
				if(znak + "" == "?"){
					start = true;
				}
					
			}
			
			
			
			if(start){
				if(komunikat == "niedozwoloneZnaki" || komunikat == "error"){
					document.getElementById("komunikat").innerHTML = "Użyto niedozwolonych znaków";
					document.getElementById("table").style.visibility = "hidden";
				}
			
				
				if(komunikat == "success"){
					document.getElementById("powodzenie").innerHTML = "Operacja zakonczona sukcesem";
				}
				
				
			}
			

			if(document.getElementById("ilosc").innerHTML == 0 && start && komunikat != "success"){
				document.getElementById("komunikat").innerHTML = "Nie odnaleziono pasujących wyników";
			}
			
		}
		
		function add(){
			if(currentPos + 5 < numbers){
				currentPos += 5;	
			}
			refresh(false);
		}
		
		function find(){
			
			var szukaj = document.getElementById("szukanie").value;

			window.location.href = "/pilki?search="+ szukaj;
		}
		
		function sub(){
			if(currentPos - 5 >=0){
				currentPos -= 5;	
			}
			refresh(false);
		}
		
		function refresh(starter){
			
			for(var n=0;n<numbers;n++){
				var names = "pole"+n;
				
				
				if(starter){
					state = document.getElementById(names).style.display;
				}
				if(n>= currentPos && n< currentPos + 5){
					document.getElementById(names).style.display = state;
				}else{
					document.getElementById(names).style.display = "none";
				}
			}
			
			document.getElementById("pozycja").innerHTML = currentPos + " - " + (currentPos + 5)
		}
	</script>
	
</body>