<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Zarządzanie pracownikami</title>
</head>
<body>
	<h1>Zarządzanie pracownikami</h1>
	
	<a href="\nowy_pracownik"> Dodaj pracownika</a>
	<!--Table -->
		<table border = "1" cellpadding = "10">
		<!-–border –obramowanie, cellpadding –rozmiar komórki -->
		<!--Table header -->
		<thead>
			<tr>
			<!--Table row -->
				<th>ID Pracownika</th>
				<!–-Table column -->
				<th>ID_Biura</th>
				<th>Nazwa klubu</th>
				<th>Imie</th>
				<th>Nazwisko</th>
				<th>Numer telefonu</th>
				<th>PESEL</th>
			</tr>
		</thead>
		<!--Table body -->
			<tbody>
				<tr th:each = "pracownik : ${lista}">
					<td th:text = "${adres.idPracownika}">ID</td>
					<td th:text = "${adres.idBiura}">Ulica</td>
					<td th:text = "${adres.nazwaKlubu}">Numer bloku</td>
					<td th:text = "${adres.Imie}">Numer mieszkania</td>
					<td th:text = "${adres.Nazwisko}">Miejscowosc</td>
					<td th:text = "${adres.numerTelefonu}">Kod pocztowy</td>
					<td th:text = "${adres.PESEL}">Kod pocztowy</td>
				</tr>
			</tbody>
		</table> 

</body>
</html>