<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	
	
<div align = "center">
	<h1> Szczegóły na temat wyplaty </h1>
	
	
	Zobacz informacje na temat pracownika <br />
	<a href="/wyplaty" > Powrót</a>

		<h5> Dane osobowe </h5>
		<table border = "1" cellpadding  = "10">
			<tr>
				<td> Imie: </td>
				<td> <a th:text="${wyplata.imie}" /> </td>
			</tr>
			<tr>
				<td> Nazwisko: </td>
				<td> <a th:text="${wyplata.nazwisko}" /> </td>
			</tr>
			<tr>
				<td> Stanowisko: </td>
				<td> <a th:text="${wyplata.stanowisko}" /> </td>
			</tr>
		
		</table>
	
		<h5> Dane wyplaty </h5>
			
			<table border = "1" cellpadding  = "10">
			<tr>
			
				<td> Data wyplaty: </td>
				<td> <a th:text="${wyplata.dataWyplaty}" /> zł </td>
			</tr>
			<tr>
				<td> Stawka podstawowa: </td>
				<td> <a th:text="${wyplata.stawkaPodstawowa}" /> zł</td>
			</tr>
			<tr>
				<td> Premia: </td>
				<td> 
				 <a th:text="${wyplata.premia}" /> zł
				</td>
			</tr>
			<tr>
				<td> Dodatek okolicznościowy: </td>
				<td> 
				 <a th:text="${wyplata.dodatekOkolicznosciowy}" /> zł
				</td>
			</tr>
		
		</table>
		
</div>
<script>


	if(document.getElementById("drugieImie").text == "") document.getElementById("drugieImie").innerHTML = "brak";
	if(document.getElementById("numerBiura").text == "") document.getElementById("numerBiura").innerHTML = "brak";
	
	var adres = window.location.href;
	var komunikat = "";
	var start = false;
	
	for(var n=0; n< adres.length; n++){
		var znak = adres[n];
		
		if(start){
			komunikat = komunikat + znak;	
		}
		
		if(znak + "" == "?"){
			start = true;
		}
			
	}
	
	if(start){
		
		if(komunikat == "success"){
			document.getElementById("powodzenie").innerHTML = "Operacja zakończona sukcesem";
		}
	}
	
</script>

</body>
</html>