<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div align = "center">
	<h1> Nowa wyplata dla pracownika </h1>
	
	
	<a style="color: red" id="komunikat"> </a> </br>
	
	Tym formularzem możesz dodać wyplate do wykazu <br />
	<a href="/pracownicy" > Powrót</a>
	
	<form action="#" th:action="@{/saveWyplata}" th:object="${wyplata}" method="post">
		<h5> Dane osobowe </h5>
		<table border = "1" cellpadding  = "10">
			<tr>
				<td> Pracownik: </td>
				<td>		
				 <select name="idP"  th:field="*{idPracownika}" >
					 <option th:each = "pracownik : ${pracownicy}"
	                    th:text="${pracownik.idPracownika} +@{.} + ${pracownik.imie} +@{, }+ ${pracownik.nazwisko} +@{, }+ ${pracownik.stanowisko}"
	                    th:value="${pracownik.idPracownika}">
				  </select>
				</td>
				
			</tr>
			
		</table>
		
		<h5> Dane pracownicze </h5>
			<table border = "1" cellpadding  = "10">
			<tr>
				<td> Stawka podstawowa: </td>
				<td> <input type="number" step="0.01" th:field="*{stawkaPodstawowa}" /> zł</td>
			</tr>
			<tr>
				<td> Premia: </td>
				<td> <input type="number" step="0.01" th:field="*{premia}" /> zł</td>
			</tr>
			<tr>
				<td> Dodatek okolicznosciowy: </td>
				<td> <input type="number" step="0.01" th:field="*{dodatekOkolicznosciowy}" /> zł</td>
			</tr>
		
		</table>
		
		<button type="sumbit">Save</button>
	</form>
</div>

		
<script>

	var adres = window.location.href;
	var komunikat = "";
	var start = false;
	
	for(var n=0; n< adres.length; n++){
		var znak = adres[n];
		
		if(start){
			komunikat = komunikat + znak;	
		}
		
		if(znak + "" == "?"){
			start = true;
		}
			
	}
		
	if(start){
		if(komunikat == "niedozwoloneZnaki"){
			document.getElementById("komunikat").innerHTML = "Użyto niedozwolonych znaków";
		}
		if(komunikat == "nieMaPracownika"){
			document.getElementById("komunikat").innerHTML = "Nie ma takiego pracownika";
		}
		if(komunikat == "podanoNiedodatniaStawkePodstawowa"){
			document.getElementById("komunikat").innerHTML = "Podano ujemną lub zerową stawkę podstawową";
		}
		if(komunikat == "podanoNiedodatniaPremie"){
			document.getElementById("komunikat").innerHTML = "Podano ujemną premie" 	
		}
		if(komunikat == "podanoNiedodatniDodatek"){
			document.getElementById("komunikat").innerHTML = "Podano ujemny dodatek okolicznościowy" 	
		}
		
	}
	
</script>

</body>
</html>