<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="style.css">

</head>
<body>
<div id="nadtlo">
		<img id="tlo" src="theme.jpg"/>
	</div>
	<div id="headerX">
	</div>
	<div id="header">
		<div class="menuX"><img src="tenis.png" width="32"/></div>
		<div class="menu"><img src="konto.png" width="24"/>  Pracownicy</div>
		<div class="menu"><img src="mone.png" width="24"/>  Pensje</div>
		<div class="menu">
			<img src="equipmnet.png" width="24"/>   Inwentaż <br />
			<div id="rozwin">
				<img src="equipmnet.png" width="24"/>   Pilki <br />
				<img src="equipmnet.png" width="24"/>   Rakiety <br />
			</div>
		</div>
		<div class="menu"><img src="office.png" width="24"/>   Biura</div>
		<div class="menu"><img src="court.png" width="24"/>   Korty</div>
		<div class="menu"><img src="calendar.png" width="24"/>   Rezerwacje</div>
		<div class="menu"><img src="calendar.png" width="24"/>   Wypożyczenia</div>
		
		<div class="menuL"><img src="konto.png" width="18"/>   Logowanie</div>
	</div>
	

<div id="main" align = "center">
	<h1><a href="/rakiety" class="button"> <img src="prev.png" width="24" /></a> Edytuj rakiete </h1>
	
	
	<a style="color: red" id="komunikat"> </a> </br>
	
	Tym formularzem możesz edytować rakietę <br />
	
	
	<form action="#" th:action="@{/editRakieta}" th:object="${rakieta}" method="post">
		<h5> Dane identyfikacyjne </h5>
		<table border = "1" cellpadding  = "10" cellspacing = 0>
			<tr>
				<td> ID: </td>
				<td class="kol">		
				 	<input readOnly = "true" type="text" th:field="*{idRakiety}" />
				</td>
			</tr>
			<tr>
				<td> Nazwa: </td>
				<td class="kol">		
				 	<input type="text" th:field="*{nazwa}" />
				</td>
				
			</tr>
			
		</table>
		
		<h5> Dane pracownicze </h5>
			<table border = "1" cellpadding  = "10" cellspacing = 0>
			<tr>
				<td> Masa: </td>
				<td class="kol"> <input type="number"  step="0.01" th:field="*{masa}" /> g</td>
			</tr>
			<tr>
				<td> Długość: </td>
				<td class="kol"> <input type="number"  step="0.01" th:field="*{dlugosc}" /> cm</td>
			</tr>
			<tr>
				<td> Szerokość: </td>
				<td class="kol"> <input type="number"  step="0.01" th:field="*{szerokosc}" /> cm</td>
			</tr>
		
		</table>
		
		<button class="buttonLarge" type="sumbit">Zapisz</button>
	</form>
</div>
<div id="bottom" align="center">
		System zarządzania klubem tenisowym <br />
		<br />
		<img src="tenis.png" width="32"/>
		<br />
	</div>
	
	</body>
