<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dodaj nowe biuro</title>
</head>
<body>
<div align="center">
	<h1> Dodawanie nowego biura </h1>
	
	
	<a style="color: red" id="komunikat"> </a> </br>
	
	Tym formularzem możesz zarejestrować nowe biuro. <br />
	<a href="/korty" > Powrót</a>
	
	<form action="#" th:action="@{/updateKort}" th:object="${kort}" method="post">
	
	<table border = "1" cellpadding  = "10">
		<tr>
				<td> ID: </td>
				<td> <input type="text" th:field="*{id_kortu}" readonly="readonly" /></td>
			</tr>
			<tr>
	</table>
		<h5> Parametry kortu </h5>
		<table border = "1" cellpadding  = "10">
		<tr>
				<td> Nawierzchnia </td>
				<td> <input type="text" th:field="*{nawierzchnia}" /></td>
			</tr>
			<tr>
				<td> Stan: </td>
				<td> <input type="text" th:field="*{stan}" /></td>
			</tr>
			<tr>
				<td> Długość: </td>
				<td> <input type="text" th:field="*{dlugosc}" /></td>
			</tr>
			<tr>
				<td> Szerokość: </td>
				<td> <input type="text" th:field="*{szerokosc}" /></td>
			</tr>
			
		</table>
		<h5> Dane adresowe biura </h5>
		<table border = "1" cellpadding  = "10">
			<tr>
				<td> Ulica: </td>
				<td> <input type="text" th:field="*{ulica}" /></td>
			</tr>
			<tr>
				<td> Numer_budynku: </td>
				<td> <input type="text" th:field="*{numer_budynku}" /></td>
			</tr>
			<tr>
				<td> Numer mieszkania: </td>
				<td> <input type="text" th:field="*{numer_mieszkania}" /> </td>
			</tr>
			<tr>
				<td> Miejscowość: </td>
				<td> <input type="text" th:field="*{miejscowosc}" /> </td>
			</tr>
			<tr>
				<td> Kod pocztowy: </td>
				<td> <input type="text" th:field="*{kod_pocztowy}" /> </td>
			</tr>
		</table>
		<
		
		<button type="submit">Save</button>
	</form>
</div>

</body>
</html>