<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
</head>

</head>
<body>

<div id="nadtlo">
		<img id="tlo" src="theme.jpg"/>
	</div>
	<div id="headerX">
	</div>
	<div id="header">
		<div class="menuX"><img src="tenis.png" width="32"/></div>
		<div class="menu"><img src="konto.png" width="24"/>  Pracownicy</div>
		<div class="menu"><img src="mone.png" width="24"/>  Pensje</div>
		<div class="menu">
			<img src="equipmnet.png" width="24"/>   Inwentaż <br />
			<div id="rozwin">
				<img src="equipmnet.png" width="24"/>   Pilki <br />
				<img src="equipmnet.png" width="24"/>   Rakiety <br />
			</div>
		</div>
		<div class="menu"><img src="office.png" width="24"/>   Biura</div>
		<div class="menu"><img src="court.png" width="24"/>   Korty</div>
		<div class="menu"><img src="calendar.png" width="24"/>   Rezerwacje</div>
		<div class="menu"><img src="calendar.png" width="24"/>   Wypożyczenia</div>
		
		<div class="menuL"><img src="konto.png" width="18"/>   Logowanie</div>
	</div>
	
<div id="main" align="center">
<h2><img src="error.png" width="32"/>   Błąd serwera</h2>
Wykryto nieokreślony błąd serwera. <br />
<br />

<button class="buttonLarge" onClick="location.reload();"> Odśwież</button>
</div>

<div id="bottom" align="center">
		System zarządzania klubem tenisowym <br />
		<br />
		<img src="tenis.png" width="32"/>
		<br />
	</div>
	
	
</body>
</html>