<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dodaj pracownika</title>


<link rel="stylesheet" href="style.css">
</head>


</head>


<body>

<div id="nadtlo">
		<img id="tlo" src="theme.jpg"/>
	</div>
	<div id="headerX">
	</div>
	<div id="header">
		<div class="menuX"><img src="tenis.png" width="32"/></div>
		<div class="menu"><img src="konto.png" width="24"/>  <a href="/pracownicy">Pracownicy</a></div>
		<div class="menu">
			<img src="konto.png" width="24"/>   Klienci <br />
			<div id="rozwin">
				<img src="equipmnet.png" width="24"/>   <a href="/klienci_indywidualni">Indywidualni</a> <br />
				<img src="equipmnet.png" width="24"/>   <a href="/klienci_grupowi">Zbiorowi </a><br />
			</div>
		</div>
		<div class="menu"><img src="mone.png" width="24"/>  <a href="/wyplaty">Wyplaty</a></div>
		<div class="menu">
			<img src="equipmnet.png" width="24"/>   Inwentarz <br />
			<div id="rozwin">
				<img src="equipmnet.png" width="24"/>   <a href="/pilki">Pilki</a> <br />
				<img src="equipmnet.png" width="24"/>   <a href="/rakiety">Rakiety</a><br />
			</div>
		</div>
		<div class="menu"><img src="office.png" width="24"/>   <a href="/biura">Biura</a></div>
		<div class="menu"><img src="court.png" width="24"/>  <a href="/korty">Korty</a></div>
		<div class="menu"><img src="calendar.png" width="24"/>   <a href="/rezerwacje">Rezerwacje</a></div>
		<div class="menu"><img src="calendar.png" width="24"/>  <a href="/wypozyczenia">Wypozyczenia</a></div>
		
		<div class="menuL" style="max-height: 10px;">
		<form th:action="@{/logout}" method="post">
			<button style="box-shadow: 0 0 0 ;background-color:transparent; border-style: none;" type="submit"> <img src="konto.png" width="16"/></button> Wyloguj
		</form>
	 	</div>
	</div>
	
<div id="main" align = "center">
	<h1><a href="/pracownicy" class="button"><img src="prev.png" width="24" /> </a> Dodawanie nowego pracownika </h1>
	
	
	<a style="color: red" id="komunikat"> </a> </br>
	
	Tym formularzem możesz zatrudnić nowego pracownika. <br />

	
	<form action="#" th:action="@{/savePracownik}" th:object="${pracownik}" method="post">
		<h5> Dane osobowe </h5>
		<table border = "1" cellpadding  = "10" cellspacing=0>
			<tr>
				<td> Imie: </td>
				<td class="kol"> <input type="text" th:field="*{imie}" /></td>
			</tr>
			<tr>
				<td> Nazwisko: </td>
				<td class="kol"> <input type="text" th:field="*{nazwisko}" /></td>
			</tr>
			<tr>
				<td> Drugie imie: </td>
				<td class="kol"> <input type="text" th:field="*{drugieImie}" /></td>
			</tr>
			<tr>
				<td> Płeć: </td>
				<td class="kol"> 
				 <select name="plec" th:field="*{plec}">
				    <option value="M">Mężczyzna</option>
				    <option value="K">Kobieta</option>
				  </select>
				</td>
			</tr>
			<tr>
				<td> Data urodzenia: </td>
				<td class="kol"> <input type="date" th:field="*{dataUrodzenia}" /> </td>
			</tr>
		</table>
		
		<h5> Biuro </h5>
			<td> Numer biura: </td>
			<td class="kol"> 
				   <select th:field="*{numerBiura}" >
				   	 <option value="" />
					 <option th:each = "biuro : ${biura}"
	                    th:text="${biuro.id_biura} +@{.} + ${biuro.ulica} +@{, }+ ${biuro.numer_budynku} +@{, }+ ${biuro.miejscowosc}"
	                    th:value="${biuro.id_biura}">
				  </select>
				</td>
			
			</td>
			
		<h5> Dane kontatkowe </h5>
			<table border = "1" cellpadding  = "10" cellspacing=0>
			<tr>
				<td> Numer telefonu: </td>
				<td class="kol"> <input type="text" th:field="*{numerTelefonu}" /></td>
			</tr>
			<tr>
				<td> Adres Email: </td>
				<td class="kol"> <input type="text" th:field="*{adresEmail}" /></td>
			</tr>
		
		</table>
		<h5> Dane pracownicze </h5>
			<table border = "1" cellpadding  = "10" cellspacing=0>
			<tr>
				<td> PESEL: </td>
				<td class="kol"> <input type="text" th:field="*{PESEL}" /></td>
			</tr>
			<tr>
				<td> Stanowisko: </td>
				<td class="kol"> 
				 <select name="plec" th:field="*{stanowisko}">
				    <option value="Trener">Trener</option>
				    <option value="Pracownik biurowy">Pracownik biura</option>
				    <option value="Inny">Inny</option>
				  </select>
				</td>
			</tr>
		
		</table>
		
		<button class="buttonLarge" type="sumbit">Zapisz</button>
	</form>
</div>
<div id="bottom" align="center">
		System zarządzania klubem tenisowym <br />
		<br />
		<img src="tenis.png" width="32"/>
		<br />
	</div>
		
<script>

	var adres = window.location.href;
	var komunikat = "";
	var start = false;
	
	for(var n=0; n< adres.length; n++){
		var znak = adres[n];
		
		if(start){
			komunikat = komunikat + znak;	
		}
		
		if(znak + "" == "?"){
			start = true;
		}
			
	}
	
	if(start){
		if(komunikat == "niedozwoloneZnaki"){
			document.getElementById("komunikat").innerHTML = "Użyto niedozwolonych znaków";
		}
		if(komunikat == "pusteImie"){
			document.getElementById("komunikat").innerHTML = "Nie wprowadzono imienia";
		}
		if(komunikat == "pusteNazwisko"){
			document.getElementById("komunikat").innerHTML = "Nie wprowadzono nazwiska";
		}
		if(komunikat == "pustaData"){
			document.getElementById("komunikat").innerHTML = "Nie wprowadzono daty urodzenia" 	
		}
		if(komunikat == "nieprawidlowyNumerTelefonu"){
			document.getElementById("komunikat").innerHTML = "Nie podano prawidłowego numeru telefonu" 	
		}
		if(komunikat == "nieprawidlowyEmail"){
			document.getElementById("komunikat").innerHTML = "Nie podano prawidlowego adresu Email" 	
		}
		if(komunikat == "nieprawidlowyPESEL"){
			document.getElementById("komunikat").innerHTML = "Nie podano prawidłowego PESEL-u" 	
		}
		
		if(komunikat == "success"){
			document.getElementById("powodzenie").innerHTML ="<img width=20 src='success.png' /> " + document.getElementById("powodzenie").innerHTML;
		}else if(document.getElementById("komunikat").innerText.length != 0){
			document.getElementById("komunikat").innerHTML ="<img width=20 src='error.png' /> " + document.getElementById("komunikat").innerHTML;
		}
		
	}
	
</script>
</body>


</html>