<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Klient grupowy</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>


</head>
<body>
<div id="nadtlo">
		<img id="tlo" src="theme.jpg"/>
	</div>
	<div id="headerX">
	</div>
	<div id="header">
		<div class="menuX"><img src="tenis.png" width="32"/></div>
		<div class="menu"><img src="konto.png" width="24"/>  Pracownicy</div>
		<div class="menu"><img src="mone.png" width="24"/>  Pensje</div>
		<div class="menu">
			<img src="equipmnet.png" width="24"/>   Inwentaż <br />
			<div id="rozwin">
				<img src="equipmnet.png" width="24"/>   Pilki <br />
				<img src="equipmnet.png" width="24"/>   Rakiety <br />
			</div>
		</div>
		<div class="menu"><img src="office.png" width="24"/>   Biura</div>
		<div class="menu"><img src="court.png" width="24"/>   Korty</div>
		<div class="menu"><img src="calendar.png" width="24"/>   Rezerwacje</div>
		<div class="menu"><img src="calendar.png" width="24"/>   Wypożyczenia</div>
		
		<div class="menuL"><img src="konto.png" width="18"/>   Logowanie</div>
	</div>
	
<div id="main" align = "center">
		<h1>Szczegoly klientów grupowych</h1>
		<a style = "color : red" id="komunikat"></a> <a style = "color : green" id="powodzenie"></a><br>

		
	
		<a href="\nowy_klient_grupowy"> Zarejestruj nowego klienta</a>
		<br/>
		<!--Table -->
			<table id="table" border = "1" cellpadding = "10">
			<!-–border –obramowanie, cellpadding –rozmiar komórki -->
			<!--Table header -->
			<thead>
				<tr>
				<!--Table row -->
					<th>ID Klienta</th>
					<!–-Table column -->
					<th>Nazwa</th>
					<th>NIP</th>
					<th>REGON</th>				
					<th>Numer telefonu</th>
					<th>Adres email</th>				
					<th>Ulica</th>
					<th>Numer budynku</th>
					<th>Numer mieszkania</th>
					<th>Miejscowosc</th>
					<th>Kod pocztowy</th>
					
					
				</tr>
			</thead>
			<!--Table body -->
				<tbody>
					<tr th:each = "klient : ${listaKlientow_grupowych}">
						<td th:text = "${klient.id_klienta_grupowego}">ID Klienta</td>
						<td th:text = "${klient.nazwa}">Nazwa</td>
						<td th:text = "${klient.nip}">NIP</td>
						<td th:text = "${klient.regon}">REGON</td>
						<td th:text = "${klient.numer_telefonu}">Numer telefonu</td>
						<td th:text = "${klient.adres_email}">Adres email</td>
						<td th:text = "${klient.ulica}">Ulica</td>
						<td th:text = "${klient.numer_budynku}">Numer budynku</td>
						<td th:text = "${klient.numer_mieszkania}">Numer mieszkania</td>
						<td th:text = "${klient.miejscowosc}">Miejscowość</td>
						<td th:text = "${klient.kod_pocztowy}">Kod pocztowy</td>
						<td><a th:href="@{/edytuj_klienta_grupowego?klient_grupowy=} + ${klient.id_klienta_grupowego}"> Edit</a></td>
						
				
					</tr>
				</tbody>
			</table> 
		
			
			
	</div>
	
