<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Zwalnianie pracownika</title>
<link rel="stylesheet" href="style.css">

</head>
<body>
<div id="nadtlo">
		<img id="tlo" src="theme.jpg"/>
	</div>
	<div id="headerX">
	</div>
<div id="header">
		<div class="menuX"><img src="tenis.png" width="32"/></div>
		<div class="menu"><img src="konto.png" width="24"/>  <a href="/pracownicy">Pracownicy</a></div>
		<div class="menu">
			<img src="konto.png" width="24"/>   Klienci <br />
			<div id="rozwin">
				<img src="equipmnet.png" width="24"/>   <a href="/klienci_indywidualni">Indywidualni</a> <br />
				<img src="equipmnet.png" width="24"/>   <a href="/klienci_grupowi">Zbiorowi </a><br />
			</div>
		</div>
		<div class="menu"><img src="mone.png" width="24"/>  <a href="/wyplaty">Wyplaty</a></div>
		<div class="menu">
			<img src="equipmnet.png" width="24"/>   Inwentarz <br />
			<div id="rozwin">
				<img src="equipmnet.png" width="24"/>   <a href="/pilki">Pilki</a> <br />
				<img src="equipmnet.png" width="24"/>   <a href="/rakiety">Rakiety</a><br />
			</div>
		</div>
		<div class="menu"><img src="office.png" width="24"/>   <a href="/biura">Biura</a></div>
		<div class="menu"><img src="court.png" width="24"/>  <a href="/korty">Korty</a></div>
		<div class="menu"><img src="calendar.png" width="24"/>   <a href="/rezerwacje">Rezerwacje</a></div>
		<div class="menu"><img src="calendar.png" width="24"/>  <a href="/wypozyczenia">Wypozyczenia</a></div>
		
		<div class="menuL" style="max-height: 10px;">
		<form th:action="@{/logout}" method="post">
			<button style="box-shadow: 0 0 0 ;background-color:transparent; border-style: none;" type="submit"> <img src="konto.png" width="16"/></button> Wyloguj
		</form>
	 	</div>
	</div>
	
	<div id="main" align="center">
	
	<h1> Usuwanie kortu </h1>
	<a href="/korty"> Powrót </a>
	<a style="color: red" id="komunikat"> </a> </br>
	<form action="#" th:action="@{/deleteKort}" th:object="${kort}" method="post">
	Czy na pewno usunąć ten kort ?.
	
	
		
		
		<h5> Dane osobowe </h5>
		
			<table border = "1" cellpadding  = "10">
				<tr>
					<td> ID kortu: </td>
					<td> <a th:text="${kort_id_kortu}" /> </td>
				</tr>
				<tr>
					<td> Nawierzchnia: </td>
					<td> <a th:text="${kort.nawierzchnia}" /> </td>
				</tr>
				<tr>
					<td> Dlugosc: </td>
					<td> <a th:text="${kort.dlugosc}" /> </td>
				</tr>
				<tr>
					<td> Szerokosc: </td>
					<td> <a th:text="${kort.szerokosc}" /> </td>
				</tr>
			
			</table>
	
	
		
		<button onclick="tak()">TAK</button>
		<button onclick="nie()"> NIE </button>
</form>
	</div>
</body>
<script>
function nie(){
	window.location.href = "/korty";
}

function tak(){
	
	
	
	var adres = window.location.href;
	var adresZn = adres.split('');
	
	var nciag="";
	var wartosc = "";
	
	var startRead = false;
	var startReadWartosc = false;
	
	var error = false;
	var error1 = false;
	var success = false;
	
	for(var n=0;n<adres.length;n++){
		if(startReadWartosc){
			if(adresZn[n] == "_"){
				wartosc = wartosc + " ";
			}else{
				wartosc = wartosc + adresZn[n];
			}
			
			
		}else if(startRead){
			nciag = nciag + adresZn[n];
		}
		
		if(adresZn[n] == "?"){
			startRead = true;
		}
		
		if(nciag =="kort="){
			startReadWartosc = true;
		}
		
	}
	window.location.href = "/usun_kort_ostatecznie?kort=" + wartosc;
}
</script>

