<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dodaj pracownika</title>


<link rel="stylesheet" href="style.css">
</head>


</head>


<body>

<div id="nadtlo">
		<img id="tlo" src="theme.jpg"/>
	</div>
	<div id="headerX">
	</div>
	<div id="header">
		<div class="menuX"><img src="tenis.png" width="32"/></div>
		<div class="menu"><img src="konto.png" width="24"/>  Pracownicy</div>
		<div class="menu"><img src="mone.png" width="24"/>  Pensje</div>
		<div class="menu">
			<img src="equipmnet.png" width="24"/>   Inwentaż <br />
			<div id="rozwin">
				<img src="equipmnet.png" width="24"/>   Pilki <br />
				<img src="equipmnet.png" width="24"/>   Rakiety <br />
			</div>
		</div>
		<div class="menu"><img src="office.png" width="24"/>   Biura</div>
		<div class="menu"><img src="court.png" width="24"/>   Korty</div>
		<div class="menu"><img src="calendar.png" width="24"/>   Rezerwacje</div>
		<div class="menu"><img src="calendar.png" width="24"/>   Wypożyczenia</div>
		
		<div class="menuL"><img src="konto.png" width="18"/>   Logowanie</div>
	</div>
	
<div style="height: 800px"  id="main" align = "center">
	
	<div style="display: inline;float: left; width: 50%;">
	
	<h1><a href="/rakiety_user" class="button"><img src="prev.png" width="24" /> </a> Zamów rakiete </h1>
	
	<a style="color: red" id="komunikat"> </a> </br>
	<br/>
	Tym formularzem możesz wypożyczyć rakiete. <br />

	Klient: <button class="buttonLarge" onclick="ind()">Indywidualny</button> | <button class="buttonLarge" onclick="zbio()">Zbiorowy</button>
	
	<h5> Wypozyczenia tego sprzętu</h5>
	<!--Table -->
			<table id="table" border = "1" cellpadding = "10" cellspacing = 0>
			<!-–border –obramowanie, cellpadding –rozmiar komórki -->
			<!--Table header -->
			<thead>
				<tr>
				<!--Table row -->
					<!–-Table column -->
					<th>Data zamowienia</th>
					<th>Spodziewana data zwrotu</th>				
					
				</tr>
			</thead>
			<!--Table body -->
				<tbody>
					<tr th:each = "wypozyczenie : ${wypozyczenia}">
						<td th:text = "${wypozyczenie.dataWypozyczenia}">ID Biura</td>
						<td class="kol" th:text = "${wypozyczenie.spodziewanaDataZwrotu}">Numer telefonu</td>
					</tr>
				</tbody>
			</table> 
	</div>		
	<div style="display: inline;float: left;; width: 50%;">	
	<form id="grupowy" action="#" th:action="@{/saveZamowienieS}" th:object="${zamowienie}" method="post" style="visibility: visible; display:block;">
		<h5> Dane osobowe </h5>
		<table border = "1" cellpadding  = "10" cellspacing=0>
			<tr>
				<td> ID Rakiety: </td>
				<td class="kol"> <input readonly="true" type="text" th:field="*{idRakiety}" /></td>
			</tr>
			<tr>
				<td> Klient zbiorowy: </td>
				<td> <select name="idP"  th:field="*{idKlientaZbiorowego}" >
					 <option th:each = "klient : ${klienciGrupowi}"
	                    th:text="${klient.id_klienta_grupowego} +@{.} + ${klient.nazwa} +@{, }+ ${klient.ulica} +@{, }+ ${klient.miejscowosc}"
	                    th:value="${klient.id_klienta_grupowego}">
				  </select>
				  </td>
			</tr>
		
			<tr>
				<td> Data wypożyczenia: </td>
				<td class="kol"> <input type="date" th:field="*{dataWypozyczenia}" /></td>
			</tr>
			<tr>
				<td> Spodziewana data zwrotu: </td>
				<td class="kol"> <input type="date" th:field="*{spodziewanaDataZwrotu}" /></td>
			</tr>
			<tr>
				<td> Uwagi </td>
				<td class="kol"> <input type="text" th:field="*{uwagi}" /></td>
			</tr>
			
		</table>
		
		
		<button class="buttonLarge" type="sumbit">Zapisz</button>
	</form>
	
	<form id="indywidualny" action="#" th:action="@{/saveZamowienieS}" th:object="${zamowienie}" method="post" style="visibility: hidden; display:none;">
		<h5> Dane pilki </h5>
		<table border = "1" cellpadding  = "10" cellspacing=0>
			<tr>
				<td> ID Rakiety: </td>
				<td class="kol"> <input readonly="true" type="text" th:field="*{idRakiety}" /></td>
			</tr>
			<tr>
				<td> Klient indywidualny: </td>
				<td> <select name="idP"  th:field="*{idKlientaIndywidualnego}" >
					 <option th:each = "klient : ${klienciIndywidualni}"
	                    th:text="${klient.id_klienta_indywidualnego} +@{.} + ${klient.imie} +@{, }+ ${klient.nazwisko} +@{, }+ ${klient.ulica} +@{, }+ ${klient.miejscowosc}"
	                    th:value="${klient.id_klienta_indywidualnego}">
				  </select></td>
			</tr>
		
			<tr>
				<td> Data wypożyczenia: </td>
				<td class="kol"> <input type="date" th:field="*{dataWypozyczenia}" /></td>
			</tr>
			<tr>
				<td> Spodziewana data zwrotu: </td>
				<td class="kol"> <input type="date" th:field="*{spodziewanaDataZwrotu}" /></td>
			</tr>
			<tr>
				<td> Uwagi </td>
				<td class="kol"> <input type="text" th:field="*{uwagi}" /></td>
			</tr>
			
		</table>
		
		
		<button class="buttonLarge" type="sumbit">Zapisz</button>
	</form>
	</div>
	

</div>

		
<script>

	var adres = window.location.href;
	var komunikat = "";
	var start = false;
	
	for(var n=0; n< adres.length; n++){
		var znak = adres[n];
		
		if(start){
			komunikat = komunikat + znak;	
		}
		
		if(znak + "" == "?"){
			start = true;
		}
			
	}
	
	if(start){
		if(komunikat == "niedozwoloneZnaki"){
			document.getElementById("komunikat").innerHTML = "Użyto niedozwolonych znaków";
		}
		if(komunikat == "pusteImie"){
			document.getElementById("komunikat").innerHTML = "Nie wprowadzono imienia";
		}
		if(komunikat == "pusteNazwisko"){
			document.getElementById("komunikat").innerHTML = "Nie wprowadzono nazwiska";
		}
		if(komunikat == "pustaData"){
			document.getElementById("komunikat").innerHTML = "Nie wprowadzono daty urodzenia" 	
		}
		if(komunikat == "nieprawidlowyNumerTelefonu"){
			document.getElementById("komunikat").innerHTML = "Nie podano prawidłowego numeru telefonu" 	
		}
		if(komunikat == "nieprawidlowyEmail"){
			document.getElementById("komunikat").innerHTML = "Nie podano prawidlowego adresu Email" 	
		}
		if(komunikat == "nieprawidlowyPESEL"){
			document.getElementById("komunikat").innerHTML = "Nie podano prawidłowego PESEL-u" 	
		}
		
		if(komunikat == "success"){
			document.getElementById("powodzenie").innerHTML ="<img width=20 src='success.png' /> " + document.getElementById("powodzenie").innerHTML;
		}else if(document.getElementById("komunikat").innerText.length != 0){
			document.getElementById("komunikat").innerHTML ="<img width=20 src='error.png' /> " + document.getElementById("komunikat").innerHTML;
		}
		
	}
	
	function ind(){
		document.getElementById("indywidualny").style.visibility="visible";
		document.getElementById("indywidualny").style.display="block";
		
		document.getElementById("grupowy").style.visibility="hidden";
		document.getElementById("grupowy").style.display="none";
	}
	
	function zbio(){
		document.getElementById("grupowy").style.visibility="visible";
		document.getElementById("grupowy").style.display="block";
		
		document.getElementById("indywidualny").style.visibility="hidden";
		document.getElementById("indywidualny").style.display="none";
	}
</script>
</body>


</html>